<div class="container">
    <h1 class="mt-3 mb-3">ADD A NEW PRODUCT</h1>
    <form #addProductForm="ngForm" (ngSubmit)="addProduct()">
        <div class="form-group">
            <label for="id">Product Id</label>
            <input type="text" class="form-control" required id="id" [(ngModel)]="product.productId" name="productId"> 
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" required id="name" [(ngModel)]="product.name" name="name"> 
        </div>

        <div class="form-group">
            <label for="desc">Description</label>
            <textarea class="form-control" id="desc" required rows="3" [(ngModel)]="product.desc" name="desc"></textarea>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" required id="price" [(ngModel)]="product.price" name="price"> 
        </div>

        <button type="submit" class="btn btn-primary mb-2">Add</button>
        <button type="button" class="btn btn-secondary mb-2 ml-2" (click)="goToAllProducts()">Go Back</button>
    </form>
</div>